input{
	display: block;
}
.user{
	background: #dadada;
	display: inline-block;
	padding: 15px 30px 15px 15px;
	border-radius: 8px;
	margin-top: 10px;
	position: relative;
}
.user__delete{
	position: absolute;
	top: 4px;
	right: 4px;
}
.users{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.test{
	margin: 15px 0 0 0;
}